







@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{margin: 0px; padding:0px; line-height: 1.8; font-size:15px; font-family: "Work Sans, arial,sans-serif";}


.title{
  position:relative;
  height:750px;

  background-image: linear-gradient(rgba(61, 60, 60, 0.6),rgba(61, 60, 60, 0.6)), url("xhero_1.jpg.pagespeed.ic.yu1ylfvph1.webp");
  color:#fff;

}

.nav-wid{
  width:100%;
}


.main-div{
  width: 100%;
  margin:0%;
  padding: 0%;
}
.section-1-text{

  padding-top: 15%;
}

.header-text{

  font-size: 3rem;
  color:white;

}

.header-text-small{

  color:white;
  font-size:1.2rem;
  padding-bottom: 3%;
}

.bold{

  font-weight: bold;
}

.btn-1{
  background-color:blue;
  color:white;
}

.btn-2{

color: white
}
.carousel-item{
	padding: 7% 15%;
}


.testimonials{

  padding: 7% 15%;
	text-align : center;


}

.testimonial-text{

	font-size:1.4rem;
	line-height:1.2;
  text-align:center;
}

.slide-last-text{
  padding-top: 2%;
  font-size: 1rem;
  font-weight: bold;


}

.first-box-heading{

	font-size:1rem;
	line-height:1.5;
  color:black;

}
.first-box-text{

  margin-top: 5%;

}


.card-body{

	background-color:white;
  color:black;
}



.pric-col {

	padding-top: 5%;
  padding-bottom: 3%;
  padding-left:5%;


}
.blog-head-text{
  text-align: center;
  padding-top:10%;
}
.grey-text{
  color:gray;
  padding-bottom: 2%;
  line-height: 1.5;
}

.grey-text2{
  color:gray;
  padding-bottom: 2%;
  padding-top: 10%;
  line-height: 1.5;
}
.agency-head{

  margin-left: 32%;
}

.grey-text-blog{
  color:darkgray;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}

.footer-black{
  color:black;
  padding-top:2%;
}

.services-box-style{
  font-size:48px;
  color:blue;
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 4%;
}
.icon{

  font-size:48px;
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 4%;
}

#icon-1{
  color:blue;
}

.bold-text{

  font-size:3.5rem;
  font-weight: bold;
  color:white;
}

.card-box{

  height:300px;

}
.box-col-1{

  width:25%;
}
.card-1{
  width:15px;
  background-color: gray;
}


.boxes-div{

  padding-left: 25%;
  width:90%;



}

.leadership{
  margin-top: 10%;
}

.leadership-head{

  text-align: center;
}

.leadership-boxes{

  margin-top:5%;

  margin-right:8%;



}



.leadership-card-1{

  width:100%;

  background-image: url(xperson_1.jpg.pagespeed.ic.YTN3ICQ2Kp.webp);
  object-fit: cover;
}

.leader-card-para{

  padding-left:4%;
  padding-top: 3%;
  color:grey;
  font-size:0.8rem;
}
.leader-card-head{

  padding-left: 4%;
  padding-top: 7%;
}
.leader-card1-div{

  margin-top:75%;
  background-color: white;
  width:99.5%;

}

.leader-card3-div{

  margin-top:75%;
  background-color: white;
  width:99.5%;

}
.leadership-card-2{

  width:100%;
  background-image: url(xperson_2.jpg.pagespeed.ic.1296G1Z9Tt.webp);
  object-fit: cover;

}

.leadership-card-3{
  width:100%;
  background-image: url(xperson_3.jpg.pagespeed.ic.lJKZ84375k.webp);
  object-fit: cover;
}
.card-sm{

  margin-left: 5%;
  margin-top: 20%;
  height:57%;
  width:90%;
  text-align: left;


  visibility: hidden !important;
}



.extra{

  height: 250px;
  width:90%;
}

.message-div-why{

  padding-left: 5%;
  height: 50%;
  width:75%;
  font-size: 1rem;
  padding-top: 6%;
  background-color:ghostwhite;

  }


  .why-us-last{


    padding-left: 15%;
    padding-top: 3.5%;
  }
  .message-under-why{
    color:darkgrey;
    text-align:left;
  }

  .Why-Us-head{


    color:blue;
  }
  .Under-Why-Us{


    padding-left:15% ;
    padding-top: 6%;
  }

  .why-us{

    padding-left: 15%;

  }
.black-text{
  color:black;
}

.title-img{

	margin-left:32%;
  margin-top: 6%;

	width: 62%;
}

.blog{
  width:100%;
}

.blog-new{
  display:flex;

  flex-wrap: wrap;
  margin-left:25%;

}

.footer-row{
  width:100%;
}



.img-row-1{
  width:25%;
  object-fit: cover;
}
.img-row-2{

  width:45%;

}

.img-row-3{

  width:45%;

}
.ficon-tw{
  margin-right:5%;
  color:black;
}
.img-row-4{

  width:25%;
  object-fit: cover;

}
.pad-add-1{
  padding-right: 1%;
}
.ficon-s{
  background-color: black;
  margin-right: 5%;
  color:white
}
.pad-add{
  padding-top: 5%;
}

.color-blue{
  color: blue;
}

.numbers-1{

  padding-top: 3%;
  padding-left:2%;
  color: blue;
  text-align:center;

}

.numbers-2{

  padding-top: 3%;
  padding-left: 2%;
  color: blue;
  text-align:center;

}

.numbers-3{

  padding-top: 3%;
  padding-left: 2%;
  color: blue;
  text-align:center;

}

.redcol{
  color: red;
}

.bluecol{
  color:blue;
}


.numbers_div{


  height: 5%;
  width:99%;
  margin-top: 10%;
  background-color:ghostwhite;
}
.service-box{

  text-align:center;
  padding-top: 4%;
  padding-bottom: 4%;

}

.front-slide{
  visibility: visible !important;
}

.Services{
  background-color:ghostwhite;
  width:99%;
}

.service-heading-lg{

  text-align:center;
  padding-top:10%;
  padding-bottom: 7%;
}

.service-heading-sm{
  visibility: visible !important;
  padding-top: 2%;
  padding-bottom: 5%;
}
.btn-service{

  background-color: black;
  color:white;
  margin-top:5%;

  margin-bottom:8%;

}
.service-more{

  text-align:center;
}


.footer-head{

  padding-top: 10%;
  padding-left:22%;
}
.footer{

  background-color:ghostwhite;
margin-top: 8%;
width:99%;

}

.footer-div-1{

  height:200px;

  width:23%;

}

.footer-div-2{
  height:200px;

  width:12%;
  line-height: 1.5;

}

.second-section{
  width:90%;
}

.numbers-lg{
  width:100%;
}


@media only screen and (max-width: 420px){

  [class*="section-1-text"] {
    display: inline-block;
  }

  .leadership-card-2{

    background-size: 210px 400px;

  }

  .leader-card3-div{
    margin-top:180%;
    width:100%;
  }

  .leadership-card-1{

    background-size: 210px 400px;

  }


  .leadership-card-3{

    background-size: 210px 400px;

  }
  .boxes-div{
    display: none;
  }

  .leader-card1-div{

    margin-top:180%;
  }

  .leadership-boxes{

    width:42%;
  }

  .leadership{

    align-items: left;
  }

  .card-sm{
    visibility: visible !important;

  }

  .why-us{
    padding-left: 2%;
    padding-top:10%;
  }


  .Under-Why-Us{


    padding-left:2% ;
    padding-top: 6%;
  }

  .message-div-why{

    padding-left: 5%;
    height: 50%;
    font-size: 1rem;
    padding-top: 6%;
    background-color:ghostwhite;
    text-align: center;

  }

  .second-section{

    align-items: left;
  }

  .why-us-last{


    padding-left: 2%;
    padding-top: 3.5%;
  }

  .front-slide{
    visibility: hidden !important;
  }


  .service-heading-sm{
    visibility:visible !important;
    margin-left:40%;
    padding-top:10%;
    padding-bottom: 5%;
  }

.blog-new{
  margin:0 !important;

}



.img-row-1{
  width:50%;


}
.img-row-2{

  width:50%;

}

.img-row-3{

  width:100%;

}
.img-row-4{

  width:100%;

}


.footer-head{
  padding:0% !important;
  padding-left: 8%;
  padding-top:20%;
}

.footer-div-1{
  width:100%;

}

.footer-div-2{
  width:100%;

}

.footer-head{
  padding-top:10% !important;
  padding-left:3% !important;
}


.section-1-text{

  text-align: left !important;
  text-align: top !important;
}

.agency-head{

  margin:0 !important;
  padding-left:3%;
  padding-top:10%;
  padding-bottom: 3%;

}

.title-img{
  margin:0 !important;
  padding-left:3%;
  width:98.8%;
}

.why-us{

  margin-top:15%;
}

.message-div-why{
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
}



}

@media all and (min-width: 421px) and (max-width: 799px){


  [class*="section-1-text"] {
    display: inline-block;
  }


  .leadership-card-1{
    background-repeat: no-repeat;
    background-size: 410px 400px !important;

  }



  .leadership-card-2{

    background-repeat: no-repeat;
    background-size: 410px 400px !important;

  }



  .leader-card3-div{
    margin-top:100%;
    width:100%;
  }



 .numbers-lg{
   margin-top: 20%;
 }

  .leadership-card-3{
    background-repeat: no-repeat;
    background-size: 410px 400px !important;

  }
  .boxes-div{
    display: none;
  }

  .leader-card1-div{

    margin-top:100%;
  }

  .leadership-boxes{

    width:42%;
  }

  .leadership{

    align-items: left;
  }

  .card-sm{
    visibility: visible !important;
  }

  .why-us{
    padding-left: 2%;
    padding-top:10%;
  }

  .Under-Why-Us{


    padding-left:2% ;
    padding-top: 6%;
  }

  .message-div-why{

    padding-left: 5%;
    height: 50%;
    font-size: 1rem;
    padding-top: 6%;
    background-color:ghostwhite;
    text-align: center;

  }

  .second-section{

    align-items: left;
  }

  .why-us-last{


    padding-left: 2%;
    padding-top: 3.5%;
  }

  .front-slide{
    visibility: hidden !important;
  }


  .service-heading-sm{
    visibility:visible !important;
    margin-left:40%;
    padding-top:10%;
    padding-bottom: 5%;
  }


  .blog-new{
    margin:0 !important;
  }



  .img-row-1{
    width:50%;


  }
  .img-row-2{

    width:50%;

  }

  .img-row-3{

    width:100%;

  }
  .img-row-4{

    width:100%;

  }

.footer-head{
  padding:0% !important;
  padding-left: 8%;
  padding-top:20%;
}

.footer-div-1{
  width:100%;

}

.footer-div-2{
  width:100%;

}

.footer-head{
  padding-top:10% !important;
  padding-left:3% !important;
}


.section-1-text{

  text-align: left !important;
  text-align: top !important;
}

.agency-head{

  margin:0 !important;
  padding-left:3%;
  padding-top:10%;
  padding-bottom: 3%;

}

.title-img{
  margin:0 !important;
  padding-left:3%;
  width:98.8%;
}

.why-us{

  margin-top:15%;
}

.message-div-why{
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
}

.check-col-2{
  width:100%;
}



}



@media all and (min-width: 800px) and (max-width: 998px){



.leader-card1-div{

  margin-top:180%;
}

.leader-card3-div{

  margin-top:180%;
}
.extra{

padding-bottom: 70% !important;
}
.card-box{
  visibility: hidden !important;

}
.card-sm{
  visibility: visible !important;

  margin: 0% !important;

  margin-left:5% !important;
}
.pric-col{
  padding: 0% !important;
}

.agency-head{

  margin:0 !important;
  padding-left:3%;

  padding-bottom: 3%;

}

.title-img{
  margin:0 !important;
  padding-left:3%;
  padding-top: 5%;
  width:95%;

}

.why-us{
  padding-left: 2%;
  padding-top:10%;
}

.Under-Why-Us{


  padding-left:2% ;
  padding-top: 6%;
}

.message-div-why{

  padding-left: 5%;
  height: 50%;
  font-size: 1rem;
  padding-top: 6%;
  background-color:ghostwhite;
  text-align: center;

}

.why-us-last{


  padding-left: 2%;
  padding-top: 3.5%;
}

.check-col{

  width:85%;

}

.slide-container{
  margin-top:10% !important;
}

.blog-new{
  margin:0 !important;
}



.img-row-1{
  width:50%;


}
.img-row-2{

  width:50%;

}

.img-row-3{

  width:100%;

}
.img-row-4{

  width:100%;

}
}

@media all and (min-width: 999px) and (max-width: 1350px){

  .check-col{

    width:30%;

  }
  .check-col-3{
    width:70% !important;
  }
  .title-img{
    margin:0 !important;
    padding-left:3%;
    width:100%;

  }

  .agency-head{
    margin: 0 !important;
    padding-bottom: 8%;
  }

  .leader-card1-div{

    margin-top:120%;
  }

  .leader-card3-div{

    margin-top:120%;
  }




}

@media all and (min-width: 1351px) and (max-width: 1541px){


  .title-img{
    margin:0 !important;
    margin-top: 5% !important;
    margin-left: 5% !important;
    width:105% !important;

  }

  .agency-head{
    margin:0;
    padding:0;
  }
  .check-col{
    width:50%;
  }
}








